@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic');

.week__hours__picker_node {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.week__hours__picker_container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .17);
    background-color: #FFFFFF;
    z-index: 100;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
}

.week__hours__picker_aside {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    flex-shrink: 0;

    -ms-align-items: center;
    align-items: center;
    min-width: 100px;

    padding-top: 26px;

    background-color: #EFEFEF;
    border-right: 1px solid #CCCCCC;
}

.week__hours__picker_grid {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-grow: 1;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.week__hours__picker_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    height: 26px;

    border-bottom: 1px solid #CCCCCC;

    flex-shrink: 0;
    background-color: #F5F5F5;
}

.week__hours__picker_header-hour {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
    height: 100%;
    width: 26px;
    justify-content: center;

    cursor: pointer;

    color: #777777;

    font-size: 12px;
}

.week__hours__picker_header-hour:not(:last-child) {
    border-right: 1px solid #CCCCCC;
}

.week__hours__picker_body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.week__hours__picker_day {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    color: #444444;

    height: 26px;
    -ms-align-items: center;
    align-items: center;


    width: 100%;
    justify-content: center;

    cursor: pointer;
}

.week__hours__picker_day:first-child {
    border-top: 1px solid transparent;
}

.week__hours__picker_day:not(:last-child) {
    border-bottom: 1px solid #CCC;
}

.week__hours__picker_row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    height: 26px;
    -ms-align-items: center;
    align-items: center;
    flex-shrink: 0;
}

.week__hours__picker_row:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

.week__hours__picker_hour {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
    height: 100%;
    width: 26px;
    justify-content: center;

    cursor: pointer;

    color: #555555;
    font-size: 12px;
}

.week__hours__picker_hour:hover {
    background-color: #EEEEEE;
}

.week__hours__picker_hour:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

.week__hours__picker_hour___selected, .week__hours__picker_hour___selected:hover {
    background-color: #DDDDDD;
    color: #333333;
    font-weight: 500;
}

.week__hours__picker_input {
    visibility: hidden;
    width: 0;
    height: 0;
}
